YASHE_DB_URL=jdbc:mysql://localhost:3306/yashe_db?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
YASHE_DB_USERNAME=
YASHE_DB_PASSWORD=
YASHE_JWT_SECRET=
YASHE_JWT_ACCESS_TTL=PT60M
YASHE_JWT_ISSUER=yashe-api
YASHE_JWT_AUDIENCE=yashe-web
YASHE_ALLOWED_ORIGINS=http://localhost:5173
YASHE_TURNSTILE_SECRET_KEY=
